body {
    background-color: #0f172a;
    color: white;
}

.title {
    text-align: center;
    color: #38bdf8;
    font-size: 40px;
    margin-bottom: 30px;
}

.card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
